{% extends "base.html" %}

{% block titulo %}Gracias{% endblock %}

{% block encabezado %}
    <h1>Genial</h1>
{% endblock %}

{% block contenido %}


<section class="sobre-mi">
    <div class="mensaje">
        <h1>Gracias por contactarme</h1>
        <p>Tu mensaje fue enviado correctamente. Te respondere pronto</p>
        <a href="{{url_for('home')}}">Volver al inicio</a>
    </div>
</section>

<script>
    function launchFireworks() {
        const colors = ["#ff0000", "#00ff00", "#0000ff", "#ffff00", "#ff00ff", "#00ffff"];
        for (let i = 0; i < 75; i++) {
            const firework = document.createElement("div");
            const fire = firework.style;
            firework.className = "firework";
            fire.left = Math.random() * window.innerWidth + "px";
            fire.top = Math.random() * window.innerHeight + "px";
            fire.backgroundColor = colors[Math.floor(Math.random() * colors.length)];
            fire.setProperty("--x", (Math.random() - 0.5) * 300 + "px");
            fire.setProperty("--y", (Math.random() - 0.5) * 300 + "px");
            document.body.appendChild(firework);
            setTimeout(() => firework.remove(), 1000);
        }
    }

    window.addEventListener("load", () => {
        launchFireworks();
    });
</script>

{% endblock %}