{% extends "base.html" %}

{% block titulo %}Mi portafolio{% endblock %}

{% block contenido %}


<section class="sobre-mi">
    <h2>Sobre mi</h2>
    <p>
        Tecnico en Sistemas y estudiante de Analisis y Desarrollo de Software, desarrollo de soluciones web, con
        conocimiento del lenguaje PHP y una experiencia en el uso del framework Symfony. Esta combinación me permite
        crear aplicaciones web a la vanguardia. Adicionalmente, poseo un conocimiento en la gestión de bases de datos,
        con particular énfasis en SQL y MySQL, habilidades que me capacitan para optimizar y administrar datos de manera
        efectiva.
        <br>
        Mis competencias se extienden al mantenimiento y reparación de computadores e impresoras, garantizando así la
        máxima eficiencia de los sistemas.
        <br>
        Mi perfil profesional es el de un técnico con un enfoque práctico y resolutivo, cualidades que me destacan como
        un recurso valioso para cualquier equipo enfocado en el desarrollo tecnológico.
    </p>
</section>
<div class="cv">
    <a href="{{url_for('hojaDeVida')}}" class="btn btn-success mt-3">Hoja de vida</a>
</div>
<section id="proyectos">
    <h2>Proyectos</h2>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Proyecto</th>
                    <th>Descripción</th>
                    <th>Tecnologías</th>
                    <th>Enlace</th>
                </tr>
            </thead>
            <tbody>
                {% for p in proyecto %}
                <tr>
                    <td>{{ p.nombre }}</td>
                    <td>{{ p.descripcion }}</td>
                    <td>{{ p.tecnologias }}</td>
                    <td><a class="github-link" href="{{ p.link }}" target="_blank">Ver en LINEA</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
<section id="habilidades">
    <h2>Habilidades Tecnicas</h2>
    <ul class="skills-list">
        <li>PHP / Synfony</li>
        <li>pytohn / Flask</li>
        <li>Mysql</li>
        <li>git y Github</li>
        <li>Html / CSS </li>
        <li>Excel</li>
    </ul>
</section>
<section class="contacto" id="contacto">
    <h2>Contacto</h2>
    <p>¿Te interesa trabajar conmigo o quieres saber más? ¡Escríbeme!</p>
    <p>Email: fabioleyton8@gmail.com</p>
    <p>Cel: 3118068358</p>
    <form action="https://formsubmit.co/fabioleyton8@gmail.com" method="post" class="formulario-contacto">
        <input type="hidden" name="_next" value="https://beto0824.pythonanywhere.com/gracias">
        <input type="text" name="nombre" placeholder="Tu nombre" required>
        <input type="number" name="celular" placeholder="Tu numero Celular" required>
        <input type="email" name="correo" placeholder="Tu correo electronico" required>
        <textarea name="mensaje" placeholder="Tu mensaje" required></textarea>
        <button type="submit">Enviar mensaje</button>
    </form>
</section>

{% endblock %}